:root {
    --g-900: #063d2a;
    --g-800: #0b5a3a;
    --g-700: #0f6a45;
    --g-600: #138a5c;
    --g-500: #19a66b;
    --g-200: #bfead6;
    --g-100: #e7f7ef;

    --bg: #b9b9b9;
    --surface: #ffffff;
    --text: #0f172a;
    --muted: #64748b;
    --border: #e2e8f0;

    --shadow: 0 8px 24px rgba(2, 6, 23, 0.08);
    --radius: 16px;
}